<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <context-param>
        <param-name>SERVER_DOCUMENTS_FOLDER</param-name>
        <param-value>D:/DAE_UPLOADS/</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>faces/login.xhtml</welcome-file>
    </welcome-file-list>
    
     <security-constraint>
        <display-name>ServicesForAll</display-name>
        <web-resource-collection>  
            <web-resource-name>Propostas</web-resource-name>
            <url-pattern>/webapi/propostas</url-pattern>
                <http-method>GET</http-method>
        </web-resource-collection>
    </security-constraint>
    
    <security-constraint>
        <display-name>StudentConstraint</display-name>
        <web-resource-collection>
            <web-resource-name>Student Pages</web-resource-name>
            <description/>
            <url-pattern>/faces/student/*</url-pattern>
        </web-resource-collection>
        
        <web-resource-collection>  
            <web-resource-name>StudentsController</web-resource-name>
            <url-pattern>/webapi/students/*</url-pattern>
                <http-method>GET</http-method>
                <http-method>PUT</http-method>
        </web-resource-collection>
        <web-resource-collection>  
            <web-resource-name>Students_Documento</web-resource-name>
            <url-pattern>/webapi/students/documento/*</url-pattern>
                <http-method>GET</http-method>
                <http-method>POST</http-method>
                <http-method>DELETE</http-method>
        </web-resource-collection>
        <web-resource-collection>  
            <web-resource-name>Students_Documentos</web-resource-name>
            <url-pattern>/webapi/students/documentos/*</url-pattern>
                <http-method>GET</http-method>
        </web-resource-collection>
        <web-resource-collection>  
            <web-resource-name>Students_Proposta</web-resource-name>
            <url-pattern>/webapi/students/proposta/*</url-pattern>
                <http-method>POST</http-method>
                <http-method>DELETE</http-method>
        </web-resource-collection>
        <web-resource-collection>  
            <web-resource-name>Students_Proposta</web-resource-name>
            <url-pattern>/webapi/students/proposta/*</url-pattern>
                <http-method>POST</http-method>
                <http-method>DELETE</http-method>
        </web-resource-collection>
        <web-resource-collection>  
            <web-resource-name>Students_Propostas</web-resource-name>
            <url-pattern>/webapi/students/propostas/*</url-pattern>
                <http-method>GET</http-method>
        </web-resource-collection> 
        <web-resource-collection>  
            <web-resource-name>Propostas</web-resource-name>
            <url-pattern>/webapi/propostas/*</url-pattern>
                <http-method>GET</http-method>
                <http-method>POST</http-method>
        </web-resource-collection> 
        <web-resource-collection>  
            <web-resource-name>Propostas_Documento</web-resource-name>
            <url-pattern>/webapi/propostas/documento/*</url-pattern>
                <http-method>GET</http-method>
                <http-method>POST</http-method>
                <http-method>PUT</http-method>
                <http-method>DELETE</http-method> 
        </web-resource-collection>
        <web-resource-collection>  
            <web-resource-name>Propostas_Proponenets</web-resource-name>
            <url-pattern>/webapi/propostas/proponentes/*</url-pattern>
                <http-method>GET</http-method>
        </web-resource-collection>
        <web-resource-collection>  
            <web-resource-name>Propostas_Students</web-resource-name>
            <url-pattern>/webapi/propostas/students/*</url-pattern>
                <http-method>GET</http-method>
        </web-resource-collection>
        <web-resource-collection>  
            <web-resource-name>Propostas_Documents</web-resource-name>
            <url-pattern>/webapi/propostas/documents/*</url-pattern>
                <http-method>GET</http-method>
        </web-resource-collection>
        
        <auth-constraint>
            <description/>
            <role-name>Student</role-name>
        </auth-constraint>
    </security-constraint>
    
    
    <security-constraint>
        <display-name>TeacherConstraint</display-name>
        <web-resource-collection>
            <web-resource-name>Teacher Pages</web-resource-name>
            <description/>
            <url-pattern>/faces/teacher/*</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>Teacher Services</web-resource-name>
            <description/>
            <url-pattern>/webapi/teachers/add/proposal/*</url-pattern>
            <url-pattern>/webapi/propostas</url-pattern>
            <url-pattern>/webapi/propostas/*</url-pattern>
            <url-pattern>/webapi/teachers/remove/proposal/*</url-pattern>
            <url-pattern>/webapi/teachers/*</url-pattern>
            <url-pattern>/webapi/propostas/proponentes/*</url-pattern>
            <url-pattern>/webapi/propostas/students/*</url-pattern>
            <url-pattern>/webapi/propostas/documents/*</url-pattern>
            <url-pattern>/webapi/students/documentos/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>Teacher</role-name>
        </auth-constraint>
    </security-constraint>
  
    
    <security-constraint>
        <display-name>InstitucaoConstraint</display-name>
        <web-resource-collection>
            <web-resource-name>Instituicao pages</web-resource-name>
            <description/>
            <url-pattern>/faces/instituicao/*</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>Instituicao Services</web-resource-name>
            <description/>
            <url-pattern>/webapi/students/documentos/*</url-pattern>
            <url-pattern>/webapi/instituicoes/*</url-pattern>
            <url-pattern>/webapi/propostas</url-pattern>
            <url-pattern>/webapi/propostas/documents/*</url-pattern>
            <url-pattern>/webapi/propostas/proponentes/*</url-pattern>
            <url-pattern>/webapi/propostas/students/*</url-pattern>
            <url-pattern>/webapi/instituicoes/propostas/*</url-pattern>
            <url-pattern>/webapi/instituicoes/removerProposta/*/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>Instituicao</role-name>
        </auth-constraint>
    </security-constraint>
    
    
    <security-constraint>
        <display-name>AdminConstraint</display-name>
            <web-resource-collection>
                <web-resource-name>Admin Pages</web-resource-name>
                <description/>
                <url-pattern>/faces/admin/*</url-pattern>
            </web-resource-collection>
            
            <web-resource-collection>
                <web-resource-name>Admin Services</web-resource-name>
                <description/>
                <url-pattern>/webapi/propostas/</url-pattern>     
                <url-pattern>/webapi/propostas/*</url-pattern>        
                <url-pattern>/webapi/proponente/</url-pattern> 
                <url-pattern>/webapi/proponente/proposta/*</url-pattern> 
                <url-pattern>/webapi/propostas/students/*</url-pattern>  
                <url-pattern>/webapi/propostas/documents/*</url-pattern>  
                <url-pattern>/webapi/propostas</url-pattern>             
                <url-pattern>/webapi/students/proposta/*</url-pattern>
                <url-pattern>/webapi/provas/*</url-pattern>                  
            </web-resource-collection>
        
            <web-resource-collection>  
                <web-resource-name>InstituicaoController</web-resource-name>
                <url-pattern>/webapi/instituicoes/*</url-pattern>
                    <http-method>GET</http-method>
                    <http-method>POST</http-method> 
                    <http-method>PUT</http-method>
                    <http-method>DELETE</http-method>
            </web-resource-collection>
        
            <web-resource-collection>  
                <web-resource-name>TeacherController</web-resource-name>
                <url-pattern>/webapi/teachers/*</url-pattern>
                    <http-method>GET</http-method>
                    <http-method>POST</http-method> 
                    <http-method>PUT</http-method>
                    <http-method>DELETE</http-method>
            </web-resource-collection>
        
            <web-resource-collection>  
                <web-resource-name>StudentsController</web-resource-name>
                <url-pattern>/webapi/students/*</url-pattern>
                    <http-method>GET</http-method>
                    <http-method>POST</http-method>
                    <http-method>PUT</http-method>
                    <http-method>DELETE</http-method>   
            </web-resource-collection>
            <web-resource-collection>  
                <web-resource-name>StudentsAction</web-resource-name>
                <url-pattern>/webapi/students/proposta/*/*</url-pattern>
                    <http-method>GET</http-method>
            </web-resource-collection>
            <web-resource-collection>  
                <web-resource-name>AdminsController</web-resource-name>
                <url-pattern>/webapi/admin/*</url-pattern>
                    <http-method>GET</http-method>

            </web-resource-collection>
            <web-resource-collection>  
                <web-resource-name>AdminsAction</web-resource-name>
                <url-pattern>/webapi/admin/teacher/student/*/*</url-pattern>
                    <http-method>GET</http-method>
            </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>MembroCCP</role-name>
        </auth-constraint>
    </security-constraint>



    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>dae_project_realm</realm-name>
    </login-config>
    <security-role>
        <description/>
        <role-name>Instituicao</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>MembroCCP</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Student</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Teacher</role-name>
    </security-role>
</web-app>
